## Life Table

In [1]:
import pandas as pd

canada_male_life_table_df = pd.read_excel(
    "../data/canada_life_table.xlsx",
    sheet_name="2023",
    skiprows=21,
    nrows=111,
    usecols=list(range(1, 11)),
    names=["age", "i_x", "d_x", "q_x", "m_e_q_x", "p_x", "L_x", "T_x", "e_x", "m_e_e_x"],
)
canada_male_life_table_df["age"] = canada_male_life_table_df["age"].str.extract(r"(\d+)")

In [2]:
canada_male_life_table_df.head()

  age     i_x  d_x      q_x  m_e_q_x      p_x    L_x      T_x    e_x m_e_e_x
0   0  100000  496  0.00496  0.00032  0.99504  99545  7951265  79.51    0.06
1   1   99504   40  0.00040  0.00009  0.99960  99484  7851721  78.91    0.06
2   2   99464   26  0.00027  0.00007  0.99973  99451  7752237  77.94    0.06
3   3   99438   19  0.00019  0.00006  0.99981  99430  7652786  76.96    0.06
4   4   99419   14  0.00014  0.00005  0.99986  99410  7553356  75.97    0.06