# Life Table

## Extract Data

In [34]:
import pandas as pd

LIFE_TABLE_COLS = ["age", "i_x", "d_x", "q_x", "m_e_q_x", "p_x", "L_x", "T_x", "e_x", "m_e_e_x"]
DATA_FILE_PATH = "../data"

In [35]:
canada_male_life_table_df = pd.read_excel(
    f"{DATA_FILE_PATH}/canada_life_table.xlsx",
    sheet_name="2023",
    skiprows=21,
    nrows=111,
    usecols=list(range(1, 11)),
    names=LIFE_TABLE_COLS,
)
canada_male_life_table_df["age"] = canada_male_life_table_df["age"].str.extract(r"(\d+)")

In [36]:
canada_male_life_table_df.head()

  age     i_x  d_x      q_x  m_e_q_x      p_x    L_x      T_x    e_x m_e_e_x
0   0  100000  496  0.00496  0.00032  0.99504  99545  7951265  79.51    0.06
1   1   99504   40  0.00040  0.00009  0.99960  99484  7851721  78.91    0.06
2   2   99464   26  0.00027  0.00007  0.99973  99451  7752237  77.94    0.06
3   3   99438   19  0.00019  0.00006  0.99981  99430  7652786  76.96    0.06
4   4   99419   14  0.00014  0.00005  0.99986  99410  7553356  75.97    0.06

In [37]:
canada_female_life_table_df = pd.read_excel(
    f"{DATA_FILE_PATH}/canada_life_table.xlsx",
    sheet_name="2023",
    skiprows=21,
    nrows=111,
    usecols=list(range(12, 22)),
    names=LIFE_TABLE_COLS,
)
canada_female_life_table_df["age"] = canada_male_life_table_df["age"].str.extract(r"(\d+)")

In [38]:
canada_female_life_table_df.head()

  age     i_x  d_x      q_x  m_e_q_x      p_x    L_x      T_x    e_x m_e_e_x
0   0  100000  410  0.00410  0.00030  0.99590  99639  8389254  83.89    0.06
1   1   99590   23  0.00023  0.00007  0.99977  99580  8289615  83.24    0.06
2   2   99567   19  0.00019  0.00006  0.99981  99557  8190035  82.26    0.06
3   3   99548   15  0.00015  0.00006  0.99985  99541  8090478  81.27    0.06
4   4   99533   13  0.00013  0.00005  0.99987  99528  7990937  80.28    0.06

## Save Data

In [39]:
canada_female_life_table_df.to_pickle(f"{DATA_FILE_PATH}/canada_female_life_table.pkl")
canada_male_life_table_df.to_pickle(f"{DATA_FILE_PATH}/canada_male_life_table.pkl")